#SPDX-License-Identifier: MIT-0
---
# handlers file for webapp
- name: Restart nginx
  service:
    name: nginx
    state: restarted

- name: Restart php-fpm
  service:
    name: php-fpm
    state: restarted